<template name="nav">
	<!-- add navbar-fixed-top to this when scrollpast -->
	<nav class="navbar navbar-default" role="navigation">
	    
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Home</a></li>
				<li><a href="#">Trips</a></li>
				<li><a href="#">Leaders</a></li>
				<li><a href="#">Membership</a></li>
				<li><a href="#">Gear Rental</a></li>
				<li><a href="#">Winter School</a></li>
				<li><a href="#">SpringYO</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Buying Gear</a></li>
			</ul>
		</div>
	</nav>
</template>