<template name="nav">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="mainNav">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
	
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				<li><a href="#">Yale Outdoors</a></li>
				<li><a href="#trips">Trips</a></li>
				<li><a href="#leaders">Leaders</a></li>
				<li><a href="#membership">Membership</a></li>
				<li><a href="{{pathFor 'gear'}}">Gear</a></li>
				<li><a href="{{pathFor 'winterSchool'}}">WSchool</a></li>
				<li><a href="{{pathFor 'springYo'}}">SpringYO</a></li>
				<li><a href="{{pathFor 'photos'}}">Photos</a></li>
			</ul>
			
			<!-- if the user is logged in, give them a greeting
				 and logout button -->
			{{#if currentUser}}
				<p class="navbar-text pull-right">howdy, {{currentUser.profile.name}}!</p>
				<button type="button" class="btn btn-default navbar-btn navbar-right" id="signOut">
					Sign out
				</button>
				
			<!-- if they are not, give them the option to sign
				 up or join -->
			{{else}}
		    	<div class="navbar-right">
		    		<a data-toggle="modal" href="#signInModal" class="btn btn-primary navbar-btn" id="signInButton">Sign in</a>
					<a data-toggle="modal" href="#signUpModal" class="btn btn-success navbar-btn" id="signUpButton">Join us!</a>
		    	</div>
			{{/if}}
		</div>
	</nav>
</template>