<!-- Signup template -->
<template name="signUp">
	<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog">
		<div class="modal-dialog signUpModal">
			<div class="modal-content">
				<div class="modal-body">
					<!-- signup form -->
					
					<form class="form-inline" role="form" id="signUp">
						<!-- name -->
						<div class="form-group">
							<input name="name" type="name" class="form-control" id="signupName" placeholder="name"></input>
						</div>
						<!-- email -->
						<div class="form-group">
							<input name="email" type="email" class="form-control" id="signupEmail" placeholder="email (yale.edu ONLY)">
						</div>
						
						<!-- password -->
						<div class="form-group">
							<input name="password" type="password" class="form-control" id="signupPassword" placeholder="password">
						</div>
						
						<button type="submit" class="btn btn-success" id="joinButton">Join!</button>
					</form>
					
				</div>
			</div>
		</div>
	</div>
</template>

<!-- Signin template -->
<template name="signIn">
	<div class="modal fade" id="signInModal" tabindex="-1" role="dialog">
		<div class="modal-dialog signInModal">
			<div class="modal-content">
				<div class="modal-body">
					<!-- login form -->
					
					<form class="form-inline" role="form" id="signIn">
						<!-- email -->
						<div class="form-group">
							<input name="email" type="email" class="form-control" id="loginName" placeholder="email">
						</div>
						
						<!-- password -->
						<div class="form-group">
							<input name="password" type="password" class="form-control" id="loginPassword" placeholder="password">
						</div>
						<button type="submit" class="btn btn-success" id="signInButton">Sign in!</button>
					</form>
					
				</div>
			</div>
		</div>
	</div>
</template>