body {
/*	background-image: url("http://upload.wikimedia.org/wikipedia/commons/7/7e/Franconia_Ridge.jpg");*/
/*	background-size: cover;*/
	padding-top: 50px;
}

/* the main sections of the page*/
div.full {
	background-size: cover;
	width: 100%;
	display: inline-block;
	margin-top: -5px;
}

/*  */
div.section {
	margin-top: 20px;
	margin-bottom: 20px;
}

div.intro {
	background-image: url("/franconia.jpg");
}

div.introPanel {
	margin-top: 10%;
	margin-bottom: 30%;
}

div.leaves {
	background-image: url("/leaves.jpg");
}

div.water {
	background-image: url("/river.jpg");
}

div.snow {
	background-image: url("/snow.jpg");
}

div.signUpModal {
	width: 660px;
}

div.signInModal {
	width: 495px;
}