body {
background-image: url("http://upload.wikimedia.org/wikipedia/commons/7/7e/Franconia_Ridge.jpg");
background-size: cover;
}

div.main-nav {
	padding-right: 0;
	padding-left: 0;
	position: fixed;
	z-index: 1;
	opacity: .85;
}

div.moveable {
	transition: all 200ms ease 0;
	position: fixed;
	float: none;
}

nav {
	position: fixed;
	top: 0;
	width: 100%;
}

div.announcements{
    margin-top: 20%;
    background-color: white;
    opacity: .8;
}