body {
/*	background-image: url("http://upload.wikimedia.org/wikipedia/commons/7/7e/Franconia_Ridge.jpg");*/
/*	background-size: cover;*/
	padding-top: 70px;
}

div.full {
	background-size: cover;
	width: 100%;
	display: inline-block;
	margin-top: -5px;
}

div.section {
	background-color: white;
	margin-top: 20px;
	margin-bottom: 20px;
}

div.leaves {
	background-image: url("/leaves.jpg");
}

div.water {
	background-image: url("/river.jpg");
}

div.snow {
	background-image: url("/snow.jpg");
}