<template name="winterSchool">
	<div class="jumbotron">
		<h1>Winter School 2013</h1>
	
		<p>Winter School consists of a series of lectures and trips related to wintery activities, including snow camping and ice climbing. It happens every February! HOOOOORAYYYY!!!</p>
	</div>

	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">
				What is Winter School?
			</h3>
			
			<div class="panel-body">
				Winter School is a series of presentations and weekend trips that aims to teach participants the basics about winter outdoor recreation, snowshoeing, snow shelters, ice climbing, and mountaineering.
			</div>
		</div>
	</div>
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">
				What is the format?
			</h3>
			
			<div class="panel-body">
				<p>
					Presentations from 7 to 8 p.m. in WLH 207 on various weekends in February. Topics covered will include food, clothing, snow shelters, snowshoeing, ice axe and crampon use, ice climbing, and cold weather injuries, treatment, and prevention. Presenters include Yale undergraduates, grad students, faculty, staff, and New Haven community members.
				</p>
				
				<p>
					In addition, there will be two weekend trips. We generally perform a snowshoe ascent of Camel's Hump, Vermont (with optional overnight). We also go on ice climbing trips to Bolton Quarry, Vermont.
				</p>
			</div>
		</div>
	</div>
		
	<div class="panel panel-info">	
		<div class="panel-heading">
			<h3 class="panel-title">
				Is previous winter experience necessary?
			</h3>
			
			<div class="panel-body">
				Nope! That's what this is all about!
			</div>
		</div>
	</div>
		
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">
				Do I need to register?
			</h3>
			
			<div class="panel-body">
				For presentations, no. For trips, yes. Check your YO emails!
			</div>
		</div>
	</div>
	
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">
				What does it cost?
			</h3>
			
			<div class="panel-body">
				Presentations are free. For trips, we ask that everyone becomes a member of Yale Outdoors ($10/year) and chip in for gas money. For trips, you'll also need gear, and if you don't have it all YO has rentals.
			</div>
		</div>
	</div>
		
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">
				What are the lecture topics?
			</h3>
			
			<div class="panel-body">
				
			</div>
		</div>
	</div>
	
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">
				Questions? Fan mail?
			</h3>
			
			<div class="panel-body">
				We'll take both! E-mail Aviva at <a href="mailto:aviva.musicus@yale.edu">aviva.musicus@yale.edu</a>.
			</div>
		</div>
	</div>

</template>